tmc/__pycache__/utils.cpython-313.pyc
tmc/__pycache__/runner.cpython-313.pyc
tmc/__pycache__/result.cpython-313.pyc
tmc/__pycache__/points.cpython-313.pyc
tmc/__pycache__/__main__.cpython-313.pyc
tmc/__pycache__/__init__.cpython-313.pyc
tmc/utils.py
tmc/runner.py
tmc/result.py
tmc/points.py
tmc/__main__.py
tmc/__init__.py
test/__pycache__/test_neighbours_in_list.cpython-313.pyc
test/__pycache__/test_neighbours_in_list_2.cpython-313.pyc
test/__pycache__/__init__.cpython-313.pyc
test/test_neighbours_in_list.py
test/test_neighbours_in_list_2.py
test/__init__.py
src/__pycache__/neighbours_in_list.cpython-313.pyc
